@font-face {
    font-family: 'dosis-reg';
    src: url('../fonts/Dosis-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

#tinymce {
    font-size: 16px;
}
#tinymce p,
#tinymce li,
#tinymce address,
#tinymce label,
#tinymce blockquote,
#tinymce .wp-caption-dd {
    font-family: "dosis-reg", "Open Sans", "HelveticaNueu", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.9;
}
#tinymce .wp-caption-dd {
    text-align: center;
    font-size: 0.9em;
}
#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5,
#tinymce h6 {
    font-family: "dosis-reg", "Open Sans", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.9;
}
#tinymce img {
    max-width: 100%;
    height: auto;
}